body {
    background-color: rgb(146, 223, 101) !important;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 24px;
    padding-bottom: 24px;
}

.questionFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card {
    width: 28rem;
} 

.quizCard {
    width: 30rem !important;
}

.myH1 {
    padding-left: 32px;
    padding-top: 16px;
}

.cardAnswer:hover {
cursor: pointer;
background-color: rgba(0, 0, 0, 0.05);
}