body {
    background-image: url('./img/background.jpg');
    font-family: 'Raleway', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 8px;
    padding-bottom: 24px;
}

.questionFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 16px;
}

.card {
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.quizCard {
    width: 100%;
}

.myH1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    color: white;
    font-family: 'Raleway', sans-serif;

}

.cardAnswer:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success {
    color: white ;
}

.bg-danger {
    color: white ;
}

.width100 {
    width: 100%;
}

.textCenter {
    text-align: center;
}

.displayFlex {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.endText {
    margin-top: 2rem;
}

.btnCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

#progress-bar {
    font-family: 'Raleway', sans-serif;
    background-color: #662D3E;
}

.btn-primary {
    background-color: #662D3E ;
    border-color: #662D3E ;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.show>.btn-primary.dropdown-toggle {
    background-color: #4B1F2C ;
    border-color: #4B1F2C ;
}


@media (max-width: 520px) {

    .card {
        width: 100%;
    }

    .quizCard {
        width: unset;
    }

}